<link rel="stylesheet" href="/css/header.css">
<header>
    <img src="/images/logo.PNG" alt="logo">
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">INR
            </button>
            <div class="dropdown-content">
              <a href="#">USDT</a>
            </div>
          </div>
        <div class="dropdown">
          <button class="dropbtn">BTC
          </button>
          <div class="dropdown-content">
            <a href="#">XRP</a>
            <a href="#">ETH</a>
            <a href="#">TRX</a>
          </div>
        </div>
      </div>

    <button class="notification_icon">58
    </button>
    <a  href="#">
        <button class="button">Connect Telegram</button>
    </a>
    <label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
</header>